body{
    width: 100vw;
    height: 100vh;
}
main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    justify-content: center;
    width: 100%;
}
table {
    width: 80%;
}
a{
    width: 40px;
}
table{
    border: 1px solid black;
    background-color: grey;
}
th, td {
    border: 2px solid black;
    background-color: azure;
}
tr > td:last-of-type{
    display: flex;
    justify-content: center;
}