*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-size: 3vh;
}

body {
    font-family: sans-serif;
}

/* --- */

#container {
    width: 90vw;
    height: 30vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
}

#container > h2{
    color: white;
    padding: 20px;
    margin-bottom: 20px
}

/* --- */

main {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 2rem;

    color: burlywood;
    color: indianred;
    font-size: 2.4rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

/* --- */
#funciones > a{
    text-decoration: none;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 2px purple;
}
#funciones > a:hover{
    box-shadow: 0 0 0 5px blue;
}